:root {
    //COLORS
    --color-pink: #f366a3;
    --color-pink-dark: #f55699;

    --color-purple: #736cfa;
    --color-purple-dark: #252a41;

    --color-orange: #f67d5a;

    --color-grey: #f7f7f7;
    --color-grey-2: #e7e7e7;
    --color-white: #fff;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0, .9);

    /*
        Gradients
        color-pink + color-purple
        color-orange + color-pink-dark
    */
}


$default-font-size: 1.6rem;
$color-orange: #f67d5a;
$color-grey: #e7e7e7;

