:root {
    //COLORS
    --color-primary-1: #f366a3;
    --color-primary-2: #736cfa;

    --color-gradient2-1: #f55699;
    --color-gradient2-2: #f67d5a;

    --color-purple-dark: #252a41;

    --color-grey: #f7f7f7;
    --color-white: #fff;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0, .9);
}
/*
//COLORS
$color-primary-1: #5ee7df;
$color-primary-2: #b490ca;
*/

$default-font-size: 1.6rem;

