.app-container {
    max-width: 120rem;
    min-height: 80rem;
    margin: 8rem auto;


    border-radius: 3.5rem;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-white);

    overflow: hidden;

    position: relative;
}

.budget {
    background-image: linear-gradient(to right, var(--color-pink-dark), var(--color-orange));
    text-align: center;
    padding: 2rem 0;
    
    &__group {
        display: flex;
        justify-content: space-around;
    }
}

.add {
    padding: 2rem;
    background-color: var(--color-grey);
    border-bottom: 1px solid var(--color-grey-2);
    display: flex;
    justify-content: space-around;

    &__type {
        height: 4rem;
        padding: 1rem;
        border: 1px solid var(--color-grey-2);

        margin-right: 2rem;

        &:focus {
            outline: none;
            border: 1px var(--color-purple) solid;
        }
        transition: border 0.3s;
    }

    &__description {
        height: 4rem;
        
        padding: 1rem;
        border: 1px solid var(--color-grey-2);
        border-radius: .4rem;

        margin-right: 2rem;        
        
        &:focus {
            outline: none;
            border: 1px var(--color-purple) solid;
        }
        transition: border 0.3s;
    }

    &__value {
        height: 4rem;
        width: 8rem;

        padding: 1rem;
        border: 1px solid var(--color-grey-2);
        border-radius: .4rem;
        margin-right: 2rem;

        &:focus {
            outline: none;
            border: 1px solid var(--color-purple);
        }
        transition: border 0.3s;
    }

    &__btn {
        font-size: 3.5rem;
        background: none;
        border: none;
        vertical-align: middle;
        cursor: pointer;
        color: var(--color-purple);

        &:active { transform: translateY(2px); }

        &:focus { outline: none; };
    }
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    .income {
        width: 40%;
    }
    .expense {
        width: 40%;
    }
    padding-bottom: 2rem;
}

.item {
    display: flex;
    flex-wrap: wrap;
    padding: 1.4rem;
    border-bottom: 1px var(--color-grey-2) solid;
    //transition: transform .3s;
    justify-content: center;

    & * {
        transition: transform .5s;        
    }

    &:first-child {
        border-top: 1px var(--color-grey-2) solid;
    }

    &:nth-child(even){
        background-color: var(--color-grey);
    }


    &__description {
        margin-right: auto;
    }

    &__delete--btn {
        font-size: 2rem;
        background: none;
        border: none;
        vertical-align: middle;
        cursor: pointer;
        display: none;

        &:active { transform: translateY(2px); }

        &:focus { outline: none; };
    }

    &__percentage {
        background-color: rgba($color-orange, .3);
        font-size: 1.1rem;
        padding: .2rem 1rem;
        color: var(--color-orange);
        border-radius: .5rem;
        align-self: center;
    }

    &:hover {
        .item__delete--btn{
            display: unset;
        }        
    }

    &:hover &__delete--btn {
        display: unset;
    }
    &:hover &__value { transform: translateX(-1rem); }
    &:hover &__percentage { transform: translateX(-1rem); }
}

.right {
    display: flex;
    
    &-item:not(:last-child) {
        margin-right: 1.2rem;
    }   
} 

.pink {color: var(--color-pink-dark);};
.pink-focus:focus {border: 1px solid var(--color-pink-dark);};