body {
    font-family: "open sans", sans-serif;
    font-size: $default-font-size;
}

.budget {
    color: var(--color-grey);

    &__value {
        font-size: 4rem;
    }

    &__income {
        text-transform: uppercase;
    }

    &__expense {
        text-transform: uppercase;
    }


}

.add * {
    font-family: inherit;
}

.income {
    &__title {
        text-transform: uppercase;
        color: var(--color-purple);
    }
}

.expense {
    &__title {
        text-transform: uppercase;
        color: var(--color-pink);
    }
}
